<div class="jumbotron" style="padding-left:35px; padding-right:35px;">
  <h1>Your Lyrics</h1>
  <p>Click on your Song to view it or start a New Lyric</p>
  <p><a href="<%=new_lyric_path%>" class="btn btn-primary btn-lg">New Lyric</a></p>
</div>

	<div class="col-sm-6 col-md-offset-5">
		<%@lyrics.each do |lyric|%>
				<div class="row">
					<div class="col-sm-4">
						<%if current_user.id == lyric.user_id%>
							<%= link_to lyric.song, lyric, class: "btn btn-default text-center"%>
						<%end%>
					</div>
				</div>
		<%end%>
	</div>


